*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body{
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}


.cues_log{
    display: flex;
    width: 80vw;
    height: 90vh;
    border-radius: 15%;
    background-color: bisque;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datauser{
    display: grid;
    width: 80vw;
    height: 80vh;
    border-radius: 15%;
    background-color: bisque;
    grid-template-rows: repeat(2, 45%);
    grid-template-columns: repeat(3, 33%);
    place-content: center;
}


.tittle{
    grid-row: 1;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.datos{
    grid-row: 2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

button{
    height: 35px;
    width: 170px;
    color: palevioletred;
    font-weight: bold;
    font-size: large;
}

button:hover{
    background-color: palevioletred;
    color: white;
    transition: ease-out 0.5s;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    width: 300px;
    height: 55px;
    margin: 3em;
}

img{
    width: 100px;
    height: 100px;
}

@media (max-width:768px) {
    button{
        height: 35px;
        width: 90px;
    }

    .data{
        width: 200px;
        height: 55px;
        margin: 3em;
    }
    body{
        margin-top: 2%;
    }
}